.about-us-section {
  padding: 20px;
  background-color: #241b35;
}

.about-us-section h1 {
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.est-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #b6b6b6;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.est-title p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #b6b6b6;
  background-color: #241b35;
  position: relative;
  z-index: 1;
  padding: 0 50px;
  margin: 10px;

  font-family: "Times New Roman", Times, serif;
}

.est-title::before,
.est-title::after {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #b6b6b6;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.est-title::before {
  right: 55%;
  width: 40%;
}

.est-title::after {
  left: 55%;
  width: 40%;
}

.est-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  text-align: center;
  color: #fff;
  width: 80%;
}

.about-text p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  margin: 0 auto;
  padding: 20px;
}

.mission-vision-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 80%;
}

.left-section,
.right-section {
  width: 45%;
  padding: 20px;
  color: #fff;
  border-radius: 8px;
}

.left-section h2,
.right-section h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
}

.left-section p,
.right-section p {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.bottom-section {
  text-align: center;
  color: #fff;
  width: 85%;

  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-box,
.right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  background-color: #2f2346;
  border-radius: 8px;
  text-align: center;
}

.box-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  max-width: 100%;
  max-height: 300px;
  overflow: hidden;
}

.box-image img {
  max-width: 100%;
}

.left-box h2,
.right-box h2 {
  text-align: left;
  color: #fff;
  padding: 15px;
}

.left-box p,
.right-box p {
  text-align: left;
  width: 85%;
  margin-left: 15px;
}

.about-us-cta-button {
  background-color: rgba(203, 128, 255, 0.2);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  border: none;
  box-shadow: 3px 3px 4px rgba(79, 19, 107, 0.5);
  margin: 15px;
}

@media only screen and (max-width: 768px) {
  .about-us-section h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 26px;
  }

  .est-title p {
    padding: 0 30px;
    font-size: 1.2rem;
  }

  .about-text {
    width: 90%;
  }

  .about-text p {
    font-size: 16px;
  }

  .mission-vision-section {
    flex-direction: column;
    width: 90%;
  }

  .left-section,
  .right-section {
    width: 100%;
    padding: 15px;
  }

  .left-section p,
  .right-section p {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .bottom-section {
    flex-direction: column;
    width: 90%;
  }

  .left-box,
  .right-box {
    width: 100%;
    margin: 10px 0;
  }

  .left-box h2,
  .right-box h2 {
    font-size: 26px;
    padding: 0 15px;
    margin: 10px 0;
  }

  .left-box p,
  .right-box p {
    font-size: 14px;
  }

  .about-us-cta-button {
    font-size: 14px;
    width: auto;
  }
}
