/* About Us Section */
.about-us-section {
  /* max-width: 800px; */
  margin: 0 auto;
  /* padding: 20px; */
  background-color: #241b35;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* border-radius: 8px; */
  /* margin-top: 20px; */
  border: 1px solid #ddd;
}

.about-us-section h1 {
  text-align: center;
  color: #fff;
  border: 1px solid #ddd;
  margin-top: 20px;
}

.est-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #b6b6b6;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.est-title p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #b6b6b6;
  background-color: #241b35;
  /* background-color: #362e45; */
  /* border: 1px solid #fff; */
  position: relative;
  z-index: 1;
  padding: 0 50px;
  margin: 10px;

  font-family: "Times New Roman", Times, serif;
}

.est-title::before,
.est-title::after {
  content: "";
  display: inline-block;
  height: 1px;
  /* width: 35%; Adjust the width of the lines as needed */
  background-color: #b6b6b6;
  vertical-align: middle;
  position: absolute; /* Use position: absolute to position the lines relative to the title */
  top: 50%;
  z-index: -1;
}

.est-title::before {
  /* margin-right: 30px;  */
  right: 55%; /* Position the left line to the left of the title */
  width: 40%;
}

.est-title::after {
  /* margin-left: 30px;  */
  left: 55%; /* Position the right line to the right of the title */
  width: 40%;
}

.est-section {
  display: flex;
  /* justify-content: space-between;
  margin-bottom: 20px; */
  flex-direction: column;
  align-items: center;
  border: 2px solid #e34444;
}

/* About Text */
.about-text {
  text-align: center;
  color: #fff;
  border: 1px solid #ddd;
  width: 80%;
  /* margin-bottom: 20px; */
}

.about-text p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  /* text-decoration: underline; */
  color: #fff;
  /* border: 1px solid #ddd; */

  margin: 0 auto;
  padding: 20px;
  /* border-radius: 8px; */
  /* margin-bottom: 20px; */
  /* text-decoration: underline; */
  /* font-size: 20px; */
  /* font-family: "Times New Roman", Times, serif; */
}

/* Mission and Vision Section */
.mission-vision-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 2px solid #e34444;
  width: 80%;
}

.left-section,
.right-section {
  /* flex: 1; */
  width: 45%;
  padding: 20px;
  /* background-color: #f5f5f5; */
  color: #fff;
  border-radius: 8px;
  /* width: 20%; */
  border: 1px solid #ddd;
}

.left-section h2,
.right-section h2 {
  text-align: center;
  color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
}

.left-section p,
.right-section p {
  text-align: center;
  color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  /* text-decoration: underline; */
  font-size: 20px;
}

/* Bottom Section */
.bottom-section {
  /* display: flex;
  justify-content: space-between; */
  /* border: 2px solid #e34444; */

  text-align: center;
  color: #fff;
  border: 1px solid #ddd;
  width: 85%;

  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-box,
.right-box {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  /* padding: 20px; */
  background-color: #2f2346;
  border: 3px solid #d644e3;
  border-radius: 8px;
  text-align: center;
  /* margin-right: 10px; */

  /* overflow: hidden; */
}

.box-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  /* padding: 0 20px;  */
  border: 1px solid #fff;
  max-width: 100%;
  max-height: 400px;
  /* padding: 20px 0; */
  overflow: hidden;
}

.box-image img {
  max-width: 100%;
}

.left-box h2,
.right-box h2 {
  text-align: left;
  color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  /* margin-bottom: 20px; */
  /* text-decoration: underline; */
}

.left-box p,
.right-box p {
  text-align: left;
  color: #fff;
  border: 1px solid #ddd;
  width: 85%;
  /* padding: 0 15px; */
  margin-left: 15px;
  /* margin-bottom: 20px; */
  /* text-decoration: underline; */
}

.about-us-cta-button {
  /* background-color: #cb80ff;  */
  background-color: rgba(203, 128, 255, 0.2);
  color: #fff; /* Set the text color */
  padding: 10px 20px;
  font-size: 16px; /* Set the font size */
  /* border: 12px solid #fff; Remove the button border */
  /* border-radius: 5px;  */
  cursor: pointer; /* Set cursor to pointer for interaction */
  width: 30%;
  border: none;
  box-shadow: 3px 3px 4px rgba(79, 19, 107, 0.5);
  margin: 15px;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
  .est-title p {
    padding: 0 30px;
  }

  .about-text {
    width: 90%;
  }

  .about-text p {
    font-size: 16px;
  }

  .mission-vision-section {
    flex-direction: column;
    width: 90%;
  }

  .left-section,
  .right-section {
    width: 100%;
    padding: 15px;
  }

  .left-section p,
  .right-section p {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .bottom-section {
    flex-direction: column;
    width: 90%;
  }

  .left-box,
  .right-box {
    width: 100%;
    margin: 10px 0;
  }
}
