.benefits {
  background-color: #241b35;
}

.benefits h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.content {
  margin: 0 auto;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0f;
  max-height: 600px;
}

.text {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 50px;
  overflow: hidden;
}

.text h2 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-align: left;
  margin-bottom: 40px;
}

.text p {
  width: 100%;
  font-size: 20px;
  color: #fff;
  text-align: left;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: auto;
  overflow: hidden;
  clip-path: polygon(
    7% 6%,
    0 32%,
    4% 68%,
    2% 81%,
    15% 87%,
    24% 99%,
    40% 95%,
    55% 96%,
    73% 94%,
    75% 97%,
    86% 97%,
    97% 88%,
    98% 62%,
    93% 25%,
    96% 7%,
    83% 1%,
    68% 6%,
    36% 0,
    26% 7%
  );
}

.image img {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  object-fit: cover;
  display: block;
}

@media only screen and (max-width: 768px) {
  .benefits h1 {
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 0px;
    color: #fff;
    text-align: center;
  }

  .item {
    flex-direction: column;
    padding: 20px;
    max-height: 100%;
  }

  .text {
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .text h2,
  .text p {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .text h2 {
    font-size: 26px;
  }

  .text p {
    width: 100%;
    font-size: 14px;
  }

  .image {
    width: 100%;
    max-height: 300px;
    border-radius: 1rem 1rem 0 0;
  }
}
