/* NewReleaseSpotlight.css */

.new-release-spotlight {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #241b35;
  /* border: 1px solid #fff; */
  padding: 20px;
}

.title,
.end-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  /* border: 1px solid #fff; */
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  background-color: #241b35;
  /* background-color: #362e45; */
  /* border: 1px solid #fff; */
  position: relative;
  z-index: 1;
  padding: 0 50px;
  margin: 10px;
}

.title::before,
.title::after,
.end-title::before,
.end-title::after {
  content: "";
  display: inline-block;
  height: 1px;
  /* width: 35%; Adjust the width of the lines as needed */
  background-color: #cb80ff;
  vertical-align: middle;
  position: absolute; /* Use position: absolute to position the lines relative to the title */
  top: 50%;
  z-index: -1;
}

.title::before,
.end-title::before {
  /* margin-right: 30px;  */
  right: 55%; /* Position the left line to the left of the title */
  width: 40%;
}

.title::after,
.end-title::after {
  /* margin-left: 30px;  */
  left: 55%; /* Position the right line to the right of the title */
  width: 40%;
}

.new-release-spotlight-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  /* border: 1px solid #ed9a9a; */

  /* margin: 20px; */
  padding: 20px;
}

.product {
  /* flex: 1; */
  /* position: relative; */
  /* margin-right: 20px; */
  /* margin: 20px; */
  /* display: flex;
  flex-direction: column; */
  border: 1px solid #8238c2;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 30px;
  /* height: 100%; */
  text-align: center;
  margin-top: 8%;
  transition: transform 0.5s;
  margin-bottom: 20px; /* Add space between products */
}

.product img {
  width: 70%;
  /* border: 50px solid #362e45; */
  background: transparent;
  /* border: 1px solid #fff; */
  /* margin-top: 20px; */
  margin-top: -30%;
  margin-bottom: 20px;
  transition: margin 0.5s;
}

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* height: 100%; */
  /* text-align: center; */
  /* margin-top: 20px; */
  /* margin-top: -30%; */
  /* border: 1px solid #fff; */
  transition: transform 0.5s;
}

.product-detail h1 {
  font-size: 1.5rem;
  /* margin-top: 20px; */
  /* border: 1px solid #fff; */
  color: #fff;
  text-align: center;
  margin: 20px;
}

.product-detail p {
  font-size: 1rem;
  /* margin-top: 20px; */
  width: 80%;
  /* border: 1px solid #fff; */
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.product:hover img,
.product:hover .product-detail {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}

.product:hover img {
  margin-top: -35%; /* Adjust the margin when the image is scaled */
}

.end-title p {
  background-color: #241b35;
  /* background-color: #362e45; */
  /* border: 1px solid #fff; */
  position: relative;
  z-index: 1;
  padding: 0 25px;
  margin: 10px;
}

.explore-button {
  display: inline-block;
  border-radius: 4px;
  /* background-color: #fdd835; */
  background: linear-gradient(to right bottom, #ffeb3b, #c9a91a);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.explore-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.explore-button span:after {
  content: "🚀";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}

.explore-button:hover span {
  padding-right: 25px;
}

.explore-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
  .new-release-spotlight-container {
    flex-direction: column; /* Change to a column layout on smaller screens */
  }

  .product {
    width: 100%; /* Take up the full width on smaller screens */
  }

  .product img {
    width: 50%;
    margin-top: 20px;
  }

  .product:hover img,
  .product:hover .product-detail {
    transform: scale(1.01); /* Adjust the scale factor as needed */
  }

  .product:hover img {
    margin-top: -15%; /* Adjust the margin when the image is scaled */
  }

  .title p {
    padding: 0 20px;
  }
}
