.new-release-spotlight {
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #241b35;
  padding: 20px;
}

.title,
.end-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title p {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  background-color: #241b35;
  position: relative;
  z-index: 1;
  padding: 0 50px;
  margin: 10px;
}

.title::before,
.title::after,
.end-title::before,
.end-title::after {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #cb80ff;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.title::before,
.end-title::before {
  right: 55%;
  width: 40%;
}

.title::after,
.end-title::after {
  left: 55%;
  width: 40%;
}

.new-release-spotlight-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 20px;
}

.product {
  border: 1px solid #8238c2;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 30px;
  text-align: center;
  margin-top: 8%;
  transition: transform 0.5s;
  margin-bottom: 20px;
}

.product img {
  width: 70%;
  background: transparent;
  margin-top: -30%;
  margin-bottom: 20px;
  transition: margin 0.5s;
}

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}

.product-detail h1 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin: 20px;
}

.product-detail p {
  font-size: 1rem;
  width: 80%;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.product:hover img,
.product:hover .product-detail {
  transform: scale(1.05);
}

.product:hover img {
  margin-top: -35%;
}

.end-title p {
  background-color: #241b35;
  position: relative;
  z-index: 1;
  padding: 0 25px;
  margin: 10px;
}

.explore-button {
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(to right bottom, #ffeb3b, #c9a91a);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.explore-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.explore-button span:after {
  content: "🚀";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}

.explore-button:hover span {
  padding-right: 25px;
}

.explore-button:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 768px) {
  .new-release-spotlight-container {
    flex-direction: column;
  }

  .title p {
    font-size: 26px;
  }

  .product {
    width: 100%;
  }

  .product img {
    width: 70%;
    margin-top: 20px;
  }

  .product:hover img,
  .product:hover .product-detail {
    transform: scale(1.01);
  }

  .product:hover img {
    margin-top: -15%;
  }

  .title p {
    padding: 0 20px;
  }

  .end-title p {
    padding: 0 20px;
  }
}
