.pop-out-overlay-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pop-out-section-2 {
  background: #fff;
  margin-top: 80px;
  height: 85%;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ab5555;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.pop-out-left-section {
  background: #fff;
  height: 85%;
  width: 85%;
}

.sad-video-background {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sad-background-video {
  position: static;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.pop-out-right-section {
  background: #fff;
  height: 85%;
  width: 90%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  position: relative;
}

#error-title {
  font-size: 38px;
  color: #ff4444;
  text-align: left;
  padding: 10px;
}

#error-subtitle {
  font-size: 24px;
  color: #555;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
}

#error-reason {
  font-size: 18px;
  color: #666;
  margin: 5px 10px;
  text-align: left;
  background-color: #ffffff;
}

#error-solution {
  font-size: 20px;
  color: #333;
  margin-top: 10px;
  padding: 10px;
  text-align: left;
}

#error-reason:hover,
#error-solution:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pop-out-close-button {
  position: absolute;
  top: 10%;
  /* right: 70px; */
  /* right: calc(100% - 1770px); */
  right: 4%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #ab5555;
  border: 1px solid #ab5555;
  border-radius: 50%;
  outline: none;
}

.pop-out-close-button::before,
.pop-out-close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #fff; /* Adjust the color as needed */
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-out-close-button::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (max-width: 1250px) {
  .pop-out-section-2 {
    max-height: 540px;
  }

  #error-title {
    font-size: 32px;
  }

  #error-subtitle {
    font-size: 18px;
    margin-bottom: 0px;
  }

  #error-reason {
    font-size: 16px;
  }

  #error-solution {
    margin-top: 10px;
    font-size: 18px;
  }

  .pop-out-close-button {
    top: 19%;
    right: 3%;
  }
}

@media screen and (max-width: 1050px) {
  #error-title {
    font-size: 24px;
  }

  #error-subtitle {
    font-size: 16px;
  }

  #error-reason {
    font-size: 14px;
  }

  #error-solution {
    font-size: 16px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .pop-out-section-2 {
    flex-direction: column;
    padding: 0px;
    overflow: hidden;
    max-height: 100%;
  }

  .sad-background-video {
    width: 85%;
  }

  #error-title {
    font-size: 20px;
  }

  #error-subtitle {
    font-size: 14px;
  }

  #error-reason {
    font-size: 12px;
  }

  #error-solution {
    font-size: 14px;
  }

  .pop-out-close-button {
    top: 10%;
    right: 2%;
  }
}

@media screen and (max-width: 520px) {
  .pop-out-right-section {
    width: 100%;
  }

  #error-title {
    font-size: 18px;
    margin-bottom: 0px;
  }

  #error-subtitle {
    font-size: 14px;
    margin-bottom: 0px;
  }

  #error-reason {
    font-size: 12px;
    margin: 0 10px;
  }

  #error-solution {
    font-size: 14px;
    margin-top: 0px;
  }
}
