.main-statistic {
  background-color: #241b35;
  padding: 30px 20px;
}

.statistic-box {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #b0d95f;
  border-radius: 50px;
}

.statistic-title {
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin: 0;
}

.statistic-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
}

.statistic-circle-1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  transition: all 0.3s;
}

.statistic-circle-1:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.5);
  transform: scale(1.1);
}

.statistic-circle-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0d;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 30px rgba(239, 232, 53, 1);
  transition: all 0.3s;
}

/* Hover effect */
.statistic-circle-2:hover {
  box-shadow: 0px 0px 40px rgba(239, 232, 53, 0);
  transform: scale(0.98);
}

.statistic-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.statistic-circle-2 h1 {
  font-size: 36px;
  color: #fff;
  margin: 0;
}

.statistic-circle-2 span {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.statistic-circle-2 p {
  font-size: 16px;
  color: #777;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .statistic-title {
    font-size: 26px;
    margin: 20px;
  }

  .statistic-container {
    flex-direction: column;
    align-items: center;
  }

  .statistic-circle-1 {
    margin-bottom: 40px;
    border-radius: 20%;
  }
  .statistic-circle-2 {
    margin-bottom: 40px;
    border-radius: 20%;
  }

  .statistic-circle-2 h1,
  .statistic-circle-2 span,
  .statistic-circle-2 p {
    font-size: 24px;
  }
}
