.pop-out-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pop-out-section {
  background: #fff;
  margin-top: 80px;
  height: 85%;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ab5555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

#team-title {
  color: #4b3f61;
  text-align: center;
  width: 60%;
}

.team-card-section {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(25% - 20px);
  margin: 10px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  position: relative;
}

#first-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: -30%;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
}

#second-img-container {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 50%;
}

#second-img {
  width: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  left: 0;
  top: -30%;
}

.member-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#people-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #666262;
  margin-bottom: 10px;
  border: none;
}

#member-position {
  color: #807878;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0px;
}

#member-info {
  font-size: 16px;
  font-weight: 400;
  color: #666262;
  text-align: center;
  color: #333;
  margin: 10px 0;
}
.close-button {
  position: absolute;
  top: 11%;
  right: 4%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #ab5555;
  border: 1px solid #ab5555;
  border-radius: 50%;
  outline: none;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-button::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 1250px) {
  #team-title {
    margin-bottom: 0px;
    font-size: 24px;
  }

  .profile-picture {
    width: 200px;
    height: 200px;
  }

  #second-img-container {
    width: 200px;
    height: 200px;
  }

  #second-img {
    width: 200px;
  }
}

@media screen and (max-width: 990px) {
  #team-title {
    font-size: 22px;
    margin: 0px;
  }

  #people-name {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .team-member {
    width: calc(50% - 20px);
  }

  .profile-picture {
    width: 150px;
    height: 150px;
  }

  #second-img-container {
    width: 150px;
    height: 150px;
  }

  #second-img {
    width: 150px;
  }

  .member-details {
    padding: 0px;
  }

  #member-info {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pop-out-section {
    max-height: 620px;
  }

  .close-button {
    top: 15%;
    right: 3%;
  }

  #team-title {
    font-size: 18px;
  }

  .team-card-section {
    flex-direction: row; /* Change to column layout on smaller screens */
  }

  .team-member {
    width: calc(50% - 20px);
  }

  #people-name {
    font-size: 1rem;
  }

  #member-position {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 520px) {
  .pop-out-section {
    max-height: 500px;
  }

  .close-button {
    top: 22%;
    right: 2%;
  }

  #team-title {
    font-size: 12px;
  }

  .profile-picture {
    width: 115px;
    height: 115px;
  }

  #second-img-container {
    width: 115px;
    height: 115px;
  }

  #second-img {
    width: 115px;
  }

  #people-name {
    font-size: 10px;
  }

  #member-position {
    font-size: 10px;
  }
}
