/* Add these styles to your CSS file */

.pop-out-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Set a high z-index */
}

.pop-out-section {
  background: #fff;
  margin-top: 80px;
  /* padding: 300px 400px; */
  height: 85%;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ab5555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

#team-title {
  /* margin-bottom: 20px; */
  /* border: 1px solid #ab5555; */
  color: #4b3f61;
  text-align: center;
  width: 60%;
  /* box-shadow: 0 20px 50px rgba(74, 0, 224, 0.25); */
}

.team-card-section {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-between;
  /* border: 1px solid #ab5555; */
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #ab5555; */
  /* width: 100%; */
  width: calc(25% - 20px);
  margin: 10px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  /* background: #3498db;  */
  /* background: linear-gradient(
    to bottom,
    rgba(142, 45, 226, 0.8),
    rgba(74, 0, 224, 0.8)
  ); */
  border-radius: 50%;
  margin-bottom: 10px;
  /* border: 1px solid #ab5555; */
  /* overflow: hidden; */
  position: relative;

  /* box-shadow: 0 35px 60px rgba(74, 0, 224, 0.4); */
}

#first-img {
  width: 100%; /* Make the image fill the container */
  /* height: 100%;  */
  height: auto;
  object-fit: cover;
  /* border-radius: 55%; */
  position: absolute;
  left: 0;
  top: -30%;

  /* clip-path: ellipse(50% 40% at 50% 50%); */
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
  /* clip-path: ellipse(50% 43% at 50% 54%); */
}

#second-img-container {
  position: absolute;
  width: 200px;
  height: 200px;
  /* top: -30%; */
  top: 0;
  left: 0;
  /* background: #3498db;  */
  /* background: rgba(212, 85, 85, 0.5); */

  overflow: hidden;
  border-radius: 50%;
}

#second-img {
  /* width: 250px; */
  /* height: 250px; */
  /* background: #3498db;  */
  /* border-radius: 50%; */

  width: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  /* border: 1px solid #ab5555; */
  overflow: hidden;
  position: relative;
  left: 0;
  top: -30%;

  /* clip-path: ellipse(50% 40% at 50% 50%); */
}

.member-details {
  text-align: center;
  /* border: 1px solid #ab5555; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#people-name {
  font-size: 1.5rem; /* Adjust font size as needed */
  font-weight: bold;
  color: #666262;
  margin-bottom: 10px; /* Adjust margin as needed for spacing */
  border: none;
}

#member-position {
  color: #807878; /* Black text color */
  /* border: 1px solid #ab5555; */
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

#member-info {
  font-size: 16px;
  font-weight: 400;
  color: #666262;
  text-align: center;
  color: #333; /* Darker gray text color */
  margin: 10px 0; /* Adjust margin as needed for spacing */
  /* border: 1px solid #ab5555; */
}
.close-button {
  position: absolute;
  top: 11%;
  /* right: 70px; */
  /* right: calc(100% - 1770px); */
  right: 4%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #ab5555;
  border: 1px solid #ab5555;
  border-radius: 50%;
  outline: none;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #fff; /* Adjust the color as needed */
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-button::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.no-scroll {
  overflow: hidden;
}

/* Add any additional styling you need for the pop-out content */

@media screen and (max-width: 1250px) {
  #team-title {
    margin-bottom: 0px;
    font-size: 24px;
  }

  .team-member {
    /* width: calc(50% - 20px); */
  }

  .profile-picture {
    width: 200px;
    height: 200px;
  }

  #second-img-container {
    width: 200px;
    height: 200px;
  }

  #second-img {
    width: 200px;
  }
}

@media screen and (max-width: 990px) {
  #team-title {
    font-size: 22px;
  }

  .team-member {
    width: calc(50% - 20px);
    /* border: 1px solid #ab5555; */
  }

  .profile-picture {
    width: 150px;
    height: 150px;
  }

  #second-img-container {
    width: 150px;
    height: 150px;
  }

  #second-img {
    width: 150px;
  }

  .member-details {
    padding: 0px;
  }

  #member-info {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #team-title {
    font-size: 18px;
  }

  .team-card-section {
    flex-direction: row; /* Change to column layout on smaller screens */
  }

  .team-member {
    width: calc(50% - 20px);
    /* border: 1px solid #ab5555; */
  }

  .profile-picture {
    /* width: 100px;
    height: 100px; */
  }

  #second-img-container {
    /* width: 100px;
    height: 100px; */
  }

  #second-img {
    /* width: 100px; */
  }

  #people-name {
    font-size: 1rem;
  }

  #member-position {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 520px) {
  #team-title {
    font-size: 12px;
  }

  .profile-picture {
    width: 115px;
    height: 115px;
  }

  #second-img-container {
    width: 115px;
    height: 115px;
  }

  #second-img {
    width: 115px;
  }

  #people-name {
    font-size: 10px;
  }

  #member-position {
    font-size: 10px;
  }
}
